
@font-face {
    font-display: swap; 
    font-family: 'Source Sans 3';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/source-sans-3-v15-latin-regular.woff2') format('woff2');
}
@font-face {
    font-display: swap; 
    font-family: 'Source Sans 3';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/source-sans-3-v15-latin-700.woff2') format('woff2');
}
/* body{
    font-family: 'Source Sans 3';
} */
.login-body{
    padding-top: 200px;
    background-image: url(../images/login-bg1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center right;
    height: 100vh;
}
.register-body{
    padding-top: 200px;
    background-image: url(../images/register-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center right;
    height: 100vh;
}